{% extends 'layout.html' %}

{% block title %}Transaccion{% endblock %}

{% block content %}
<form autocomplete="off" id="msform" method="POST" action="{{ url_for('transaction_menu') }}">

    <fieldset>
        <h2 class="fs-title">Añade transacción</h2>
        <input type="text" id="nombre" name="nombre" placeholder="Nombre de la transacción" required>

        <label class="p_text" for="opciones">Especifica si los elementos del siguiente apartado son:</label>
        <div id="opciones" name="opciones" class="contenedor-botones">
            <input type="radio" name="opcion" value="1" checked> Gastos
            <input type="radio" name="opcion" value="0"> Ganancias
        </div>
        
        <h2 class="fs-subtitle">Productos</h2>

        <div id="elementosDinamicos[]" name="elementosDinamicos[]"></div>

        <!-- Botones para añadir y quitar elementos -->
        <button type="button"  onclick="agregarCampo()">Agregar Elemento</button>
        

        <br>

        <button>Crear</button>
        <p id="erroreak" class="error_message">
            <div class="error_message"></div>
        </p>
        <p></p>   
    </fieldset>
</form> 
<script>
    // Función para agregar un nuevo campo al formulario
    function agregarCampo() {
        var contenedor = document.getElementById("elementosDinamicos[]");
        var elementosActuales = contenedor.children.length;
        var nuevoCampo = document.createElement("div");
        nuevoCampo.id = "elemento" + elementosActuales
        nuevoCampo.tagName = "elemento" + elementosActuales
        nuevoCampo.localName= "elemento" + elementosActuales
        nuevoCampo.nodeName= "elemento" + elementosActuales
        nuevoCampo.name = "elemento" + elementosActuales

        // Agregar campos al nuevo div
        nuevoCampo.innerHTML = `
            <input class="nuevo_producto_valor" type="text" id="nombreproducto${elementosActuales}" name="nombreproducto${elementosActuales}" placeholder="Nombre del producto" required>
            <input class="nuevo_producto_valor" type="number" id="cantidad${elementosActuales}" name="cantidad${elementosActuales}" placeholder="Cantidad" required>
            <input class="nuevo_producto_valor" type="number" id="precio${elementosActuales}" name="precio${elementosActuales}" step="0.01" placeholder="Precio por unidad" required>
            <select class="select-transaccion" id="categoria${elementosActuales}" name="categoria${elementosActuales}" required>
                <option value="Comida">Comida</option>
                <option value="Vivienda">Vivienda</option>
                <option value="Ropa">Ropa</option>
                <option value="Actividades">Actividades</option>
                <option value="Material">Material</option>
                <option selected value="Otros">Otros</option>
            </select>
            <button type="button" onclick="quitarCampo(${elementosActuales})">Quitar Elemento</button>
        <hr>
    `;

        contenedor.appendChild(nuevoCampo);
        
    }

    // Función para quitar el último campo del formulario
    function quitarCampo(indice) {
        var contenedor = document.getElementById("elementosDinamicos[]");
        var elemento = document.getElementById("elemento" + indice);

        // Asegúrate de que el elemento exista antes de intentar quitarlo
        if (elemento) {
            contenedor.removeChild(elemento);
        }
    }
</script>


{% endblock %}