{% extends 'layout2.html' %}

{% block title %}Proyectos{% endblock %}

{% block content %}
		<br>
		<h3>Lista de proyectos:</h3>
		<div class="laukia">
			
			
			{% if datos['info']|length == 0 %}
				<p>No hay proyectos</p>
			{% else %}	
				{% for proyecto in datos['info'] %}
				<form action="{{ url_for('project_menu') }}" method="post">
					<button type="submit" name="idproyecto" value="{{ proyecto['idproyecto'] }}">
						{{ proyecto['nombre'] }}
					</button>
				</form>
            	{% endfor %}
			{% endif %}

  
        </div>
		<div class="contenedor-botones">
			<button class="create_button"><a href="{{ url_for('create_project') }}">Crear nuevo proyecto</a></button>
			<button class="create_button"><a href="{{ url_for('join_project') }}">Acceder a proyecto nuevo</a></button>
		</div>
		<br>
{% endblock %}